body {
    font-family: Arial, sans-serif;
    background: url('caminho-para-sua-imagem-de-fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.logo {
    width: 80%;
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 90%;
    padding: 10px;
    background-color: #ff5100;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa600;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #eeff00;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

html {
    background: url(logo-do-clube-videirareal.png) no-repeat center fixed;
    background-size: cover;
  } 
